.container {
	display: grid;
	height: 97%;
	width: 97%;
	border-radius: 2rem;
	background-color: var(--glass);
	overflow: hidden;
	grid-template-columns: 11rem auto 20rem;
}

.Cards {
	display: flex;
	gap: 10px;
}