/* ------------ Main -----------
.App {
	background: linear-gradient(106.37deg, #ffe1bc 29.63%, #ffcfd1 51.55%, #f3c6f1 90.65%);
	height: 100vh;
	display: flex;
	justify-content: center;
	font-family: "Inter", sans-serif;
}

.AppGlass {
	display: grid;
	height: 97%;
	width: 97%;
	border-radius: 2rem;
	background-color: var(--glass);
	overflow: hidden;
	grid-template-columns: 11rem auto 20rem;
}

/* --------------- Sidebar --------------- */

.sidebar {
	display: flex;
	flex-direction: column;
	position: relative;
	transition: all 300ms ease;
	padding-top: 4rem;
}

.logo {
	display: flex;
	height: 5rem;
	font-weight: bold;
	gap: 1rem;
	align-items: center;
	justify-content: center;
	height: 4%;
}

.logo > img {
	width: 3rem;
	height: 3rem;
}

.logo > span > span {
	color: var(--pink);
}

/* menu */

.menu {
	margin-top: 4rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.menuItem {
	display: flex;
	align-items: center;
	gap: 1rem;
	height: 2.5rem;
	margin-left: 2rem;
	position: relative;
	transition: all 300ms ease;
	font-size: 14px;
	border-radius: 0.7rem;
}

.menuItem:hover {
	cursor: pointer;
}

.active {
	background: var(--activeItem);
	margin-left: 0;
}

.active::before {
	content: "";
	width: 8px;
	height: 100%;
	background: var(--pink);
	margin-right: calc(1rem - 8px);
}

/* ------------- Table ------------ */
.MuiTableRow-root > * {
	padding: 10px !important;
}

.MuiTableRow-root.MuiTableRow-head > * {
	font-weight: bold !important;
}

.Table td,
th {
	border: none !important;
}

.Table:first-child {
	border-radius: 0.7rem !important;
}

.score {
	padding: 8px;
	border-radius: 9px;
}

/*---------- Main dash ------------- */
.main-dash {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 2rem;
}

/* ------------ Cards ------------- */
.Cards {
	display: flex;
	gap: 10px;
}

.parentContainer {
	width: 100%;
}
/* ------------ Card -------------- */
.blue {
	background: radial-gradient(circle, rgb(238, 174, 202) 0%, rgb(148, 187, 233) 100%);
	box-shadow: rgb(238 174 202) 0px 10px 20px 0px;
}

.purple {
	background: linear-gradient(rgb(187, 103, 255) 0%, rgb(196, 132, 243) 100%);
	box-shadow: rgb(224 198 245) 0px 10px 20px 0px;
}

.pink {
	background: linear-gradient(rgb(187, 103, 255) 0%, rgb(252, 146, 157) 100%);
	box-shadow: rgb(253 192 199) 0px 10px 20px 0px;
}

.yellow {
	background: linear-gradient(rgb(248, 212, 154) -146.42%, rgb(255, 202, 113) -46.42%);
	box-shadow: rgb(249 213 155) 0px 10px 20px 0px;
}

.CompactCard {
	display: flex;
	flex: 1;
	height: 7rem !important;
	border-radius: 0.7rem;
	color: white;
	position: relative;
	cursor: pointer;
	padding: 1rem;
}

.CompactCard:hover {
	box-shadow: none !important;
}

.radialBar {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 1rem;
}

.CircularProgressbar {
	width: 4rem !important;
	overflow: visible;
}

.CircularProgressbar-path {
	stroke: white !important;
	stroke-width: 12px !important;
	filter: drop-shadow(2px 4px 6px white);
}

.CircularProgressbar-trail {
	display: none;
}

.CircularPRogressbar-text {
	fill: white !important;
}

.radialBar > span {
	font-size: 17px;
	font-weight: bold;
}
/* details */
.detail {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

.detail > span:nth-child(2) {
	font-size: 22px;
	font-weight: bold;
}

.detail > span:nth-child(3) {
	font-size: 12px;
}
